/**
 * CSS Reset
 * Reset tất cả styles mặc định của browser
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  @include font-smoothing;
  font: inherit;
  border: 0;
}

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
  -webkit-tap-highlight-color: transparent;
  font-family: $font-family-base;
  font-feature-settings: 'tnum';
}

body {
  background-color: $color-white;
  font-size: $font-size-base;
  color: $color-black;
}

ol,
ul {
  list-style: none;
}

b {
  font-weight: $font-weight-bold;
}

a {
  &:link,
  &:visited {
    color: inherit;
  }
  text-decoration: none;
}

img {
  &:not([src]),
  &[src=""] {
    visibility: hidden;
  }
}

