/**
 * Keyframes Animations
 */

@keyframes rotate-3-out {
  0% {
    @include transform(rotateY(0));
  }
  100% {
    @include transform(rotateY(-180deg));
  }
}

@-webkit-keyframes rotate-3-out {
  0% {
    @include transform(rotateY(0));
  }
  100% {
    @include transform(rotateY(-180deg));
  }
}

@keyframes rotate-3-in {
  0% {
    @include transform(rotateY(180deg));
  }
  100% {
    @include transform(rotateY(0));
  }
}

@-webkit-keyframes rotate-3-in {
  0% {
    @include transform(rotateY(180deg));
  }
  100% {
    @include transform(rotateY(0));
  }
}

@keyframes caret-popping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes around {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

